<%- include('common/head') -%>
    <%- include('common/header'); %>
        <%- include('common/sidebar'); %>

            <div class="content-body">
                <!-- row -->
                <div class="container-fluid">
                    <!-- row -->
                    <div class="row">

                        <div class="col-xl-12 col-lg-8">
                            <div class="card profile-card card-bx m-b30">
                                <div class="card-header">
                                    <h6 class="title">Add finding the gem</h6>
                                </div>
                                <form class="profile-form" id="finding_the_gems_form">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-6 m-b30">
                                                <label class="form-label">Select Phace</label>
                                                <select name="phase_id" class="form-control" id="">
                                                    <option value="" selected disabled> Select Phases</option>
                                                    <% Object.keys(phase).forEach(function(prop) { %>
                                                        <option value="<%- phase[prop]['id'] %>"><%-
                                                                phase[prop]['phase_name'] %></option>
                                                        <% }); %>
                                                </select>
                                            </div>
                                            <div class="col-sm-6 m-b30">
                                                <label class="form-label">Select Lesson</label>
                                                <select name="lesson_id" class="form-control" id="">
                                                    <option value="" selected disabled> Select Lesson</option>
                                                    <% Object.keys(lesson).forEach(function(prop) { %>
                                                        <option value="<%- lesson[prop]['id'] %>"><%-
                                                                lesson[prop]['lesson_name'] %></option>
                                                        <% }); %>
                                                </select>
                                            </div>
                                            <div class="col-sm-12 m-b30">
                                                <label class="form-label">Questions</label>
                                                <textarea name="questions" id="about_discriptions" class="form-control"
                                                    rows="10" cols="10"></textarea>
                                            </div>

                                            <div class="col-sm-6 m-b30">
                                                <label class="form-label">Options 1</label>
                                                <input type="text" id="options1" class="form-control"
                                                    placeholder="Enter Options 1">
                                            </div>

                                            <div class="col-sm-6 m-b30">
                                                <label class="form-label">Options 2</label>
                                                <input type="text" id="options2" class="form-control"
                                                    placeholder="Enter Options 2">
                                            </div>

                                            <div class="col-sm-6 m-b30">
                                                <label class="form-label">Options 3</label>
                                                <input type="text" id="options3" class="form-control"
                                                    placeholder="Enter Options 3">
                                            </div>

                                            <div class="col-sm-6 m-b30">
                                                <label class="form-label">Options 4</label>
                                                <input type="text" id="options4" class="form-control"
                                                    placeholder="Enter Options 4">
                                            </div>

                                            <div class="col-sm-6 m-b30">
                                                <label class="form-label">Write Correct Option</label>
                                                <input type="text" id="correct_ans" class="form-control"
                                                    placeholder="Enter Correct Option">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('common/footer') -%>
                <%- include('common/script'); %>

                    <script>
                        $(document).ready(function () {
                            var table = $('#userListTable').DataTable({
                                responsive: true,
                                language: {
                                    paginate: {
                                        next: '<i class="fa fa-angle-double-right" aria-hidden="true"></i>',
                                        previous: '<i class="fa fa-angle-double-left" aria-hidden="true"></i>'
                                    }
                                }
                            });

                            $(document).on('submit', '#finding_the_gems_form', function (e) {
                                e.preventDefault();
                                let opt_1 = $('#options1').val();
                                let opt_2 = $('#options2').val();
                                let opt_3 = $('#options3').val();
                                let opt_4 = $('#options4').val();
                                let ans = $('#correct_ans').val()

                                if (!opt_1 || !opt_2 || !opt_3 || !opt_4 || !ans) {
                                    msg('error', 'Fill all options and Answer');
                                    return;
                                }
                                let config = {
                                    '1': opt_1,
                                    '2': opt_2,
                                    '3': opt_3,
                                    '4': opt_4,
                                    ans
                                }

                                const form_data = new FormData(this);
                                form_data.append('config', JSON.stringify(config));

                                $.ajax({
                                    url: "/admin/set-finding-the-gems-add",
                                    type: "POST",
                                    data: form_data,
                                    contentType: false,
                                    processData: false,
                                    success: (response) => {
                                        const json = JSON.parse(response);
                                        if (json.status != 2) {
                                            msg('success', json.res);
                                            // setTimeout(() => {
                                            //   location.reload();
                                            // }, 1200);
                                        } else {
                                            msg('error', json.res);
                                        }
                                    }
                                });
                            });
                        })
                    </script>