<%- include('common/head') -%>
    <%- include('common/header'); %>
        <%- include('common/sidebar'); %>

            <div class="content-body">
                <!-- row -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <div class="col-xl-12 col-lg-8">
                                <div class="card profile-card card-bx m-b30">

                                    <form class="profile-form">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-6 m-b30">
                                                    <label class="form-label">Select Phace</label>

                                                    <select name="select_Phace" class="form-control" id="">
                                                        <option value="" selected disabled> Select Phases </option>
                                                        <option value="">Phace 1</option>
                                                        <option value="">Phace 2</option>
                                                        <option value="">Phace 3</option>
                                                        <option value="">Phace 4</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-6 m-b30">
                                                    <label class="form-label">Lessons</label>
                                                    <input type="text" name="Questions" class="form-control"
                                                        placeholder="Enter lessons">
                                                </div>
                                                <div class="col-sm-6 m-b30">
                                                    <label class="form-label">Lessons Discription</label>
                                                    <input type="text" name="Questions" class="form-control"
                                                        placeholder="Enter Lessons Discription">
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="mt-4">
                                                        <button class="btn btn-primary">Submit</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <!-- </div>
                                </div> -->


                            </div>


                        </div>
                    </div>
                    <div class="col-xl-12 active-p">
                        <div class="tab-content" id="pills-tabContent">

                            <div class="card">
                                <div class="card-body px-0">
                                    <div class="table-responsive active-projects user-tbl  dt-filter">
                                        <table id="user-tbl" class="table shorting">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <div class="form-check custom-checkbox ms-0">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="checkAll" required="">
                                                            <label class="form-check-label" for="checkAll"></label>
                                                        </div>
                                                    </th>
                                                    <th>Phase name</th>
                                                    <th>Lessons Title</th>
                                                    <th>Discription</th>
                                                    <th>Date</th>
                                                    <th>Status</th>
                                                    <th>Action</th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <td>
                                                        <div class="form-check custom-checkbox">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="customCheckBox5" required="">
                                                            <label class="form-check-label"
                                                                for="customCheckBox5"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <!-- <img src="images/contacts/pic666.jpg" class="avatar rounded-circle" alt=""> -->
                                                            <p class="mb-0 ms-2">Phase 1</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <!-- <img src="images/contacts/pic666.jpg" class="avatar rounded-circle" alt=""> -->
                                                            <p class="mb-0 ms-2">Lesson 1</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <!-- <img src="images/contacts/pic666.jpg" class="avatar rounded-circle" alt=""> -->
                                                            <p class="mb-0 ms-2">नाम पूछो और नाम बताओ</p>
                                                        </div>
                                                    </td>

                                                    <td>18 Mar 2023</td>
                                                    <td>
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="flexSwitchCheckChecked" checked>

                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a href="#" class="btn btn-danger shadow btn-xs sharp"><i
                                                                class="fa fa-trash"></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check custom-checkbox">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="customCheckBox5" required="">
                                                            <label class="form-check-label"
                                                                for="customCheckBox5"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <!-- <img src="images/contacts/pic666.jpg" class="avatar rounded-circle" alt=""> -->
                                                            <p class="mb-0 ms-2">Phase 1</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <!-- <img src="images/contacts/pic666.jpg" class="avatar rounded-circle" alt=""> -->
                                                            <p class="mb-0 ms-2">Lesson 2</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <!-- <img src="images/contacts/pic666.jpg" class="avatar rounded-circle" alt=""> -->
                                                            <p class="mb-0 ms-2">नाम पूछो और नाम बताओ</p>
                                                        </div>
                                                    </td>

                                                    <td>18 Mar 2023</td>
                                                    <td>
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="flexSwitchCheckChecked" checked>

                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a href="#" class="btn btn-danger shadow btn-xs sharp"><i
                                                                class="fa fa-trash"></i></a>
                                                    </td>
                                                </tr>

                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            </div>

            <%- include('common/footer') -%>
                <%- include('common/script'); %>

                    <script>
                        $(document).ready(function () {
                            var table = $('#userListTable').DataTable({
                                responsive: true,
                                language: {
                                    paginate: {
                                        next: '<i class="fa fa-angle-double-right" aria-hidden="true"></i>',
                                        previous: '<i class="fa fa-angle-double-left" aria-hidden="true"></i>'
                                    }
                                }
                            });
                        })
                    </script>